@import url('./fuentes-letra.css');

:root {
    --colorPrincipal: hsl(125, 41%, 56%);
    --colorSecundario: hsl(30, 85%, 63%);
    --colorVerde: hsl(125, 41%, 56%);
    --colorNaranja: hsl(30, 100%, 61.06%);
    --colorRojo: hsl(2, 63%, 58%);
    --colorCeleste: #0098CC;
}

/* GENERALES */
img {
    border-radius: 10px;
}

video {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 20px;
}

/* BARRA SUPERIOR */
.navbar {
    --colorBarra: var(--colorNaranja);
    background-color: var(--colorBarra);
    box-shadow: 0px 2px 2px rgba(76, 77, 77, 0.31);

    .nav-item a{
        font-weight: bold;
    }

    #btn-contacto {
        color: var(--colorBarra);
        font-weight: bold;
        border-radius: .5rem;
    }
}

/*IFRAME VIMEO*/
iframe {
    max-width: 100%;
    height: clamp(0px, 50vw, 60vh);
}

/*ACOMODO SECCIONES*/
#lista-secciones{
/*    display: grid;*/
    grid-template-areas: 'seccion-portafolio'
    'seccion-trabajos'
    'seccion-yo'
    'seccion-contacto'
    '.';
    gap: 0 0;
}

/* SECCIONES */
.seccion {
    position: relative;

    &:before {
        --alturaBordo: 10px;
        content: '';
        width: 100%;
        height: var(--alturaBordo);
        position: absolute;
        top: 1px;
        left: 0;
        transform: translate(0%, -100%);
/*        filter: drop-shadow(1px -1px 1px #00000066);*/
    }
}

#seccion-portafolio{
    grid-area: seccion-portafolio;
}

#seccion-trabajos {
    grid-area: seccion-trabajos;
    background-color: var(--colorCeleste);

    &:before{
        background-image: url('./../img/wave_celeste.svg');
    }
}

#seccion-yo {
    grid-area: seccion-yo;
    background-color: var(--colorVerde);
    color: white;

    &:before{
        background-image: url('./../img/wave_verde.svg');
    }
}

#seccion-contacto {
    grid-area: seccion-contacto;
    background-color: var(--colorRojo);
    color: white;
    text-align: center;

    &:before{
        background-image: url('./../img/wave_rojo.svg');
    }
}

/* CARRUSEL/SLIDER */
.carousel {
    width: 1000px;
    max-width: 100%;

    /* border-radius: 20px */
    overflow: hidden;
}

.carousel-inner {
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-indicators {
    position: static;
    background-color: #2cb7e6;
    border-radius: 10px;
    width: auto;

    [data-bs-target] {
        --tamanoCuadro: 20px;
        height: var(--tamanoCuadro);
        width: var(--tamanoCuadro);
        border-radius: 8px;
        border: solid 2px #0000005e;
        overflow: hidden;
        opacity: 1;
        transition: background-color .3s;
    }

    .active {
        background-color: var(--colorCeleste);
    }
}

.carousel-item img {
    max-width: 300px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 60px;
    height: calc(100%  - 63px);
    color: white;
    opacity: 1;
}
.carousel-control-prev>span,
.carousel-control-next>span{
    filter: drop-shadow(0px 0px 2px black);
    transition: transform .3s;
}

.carousel-control-prev:hover span{
    transform: scale(1.35);
}
.carousel-control-next:hover span{
    transform: scale(1.2);
}