@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* font-family: "Oswald"; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colores */
  --blanco-bns: #dedfdd;
  --azul-bns: #1d5d77;
  --amarillo-bns: #b3972a;
}

*{
  box-sizing: border-box;
  border-style: solid;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Bebas Neue", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
p, span {
  font-family: "PT Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: clamp(.95rem, 1.5vw, 1.15rem);
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: underline;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  background: var(--blanco-bns);
}

#container-bns{
  @apply grid pt-5;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "nombre"
    "proyecto-estrella"
    "capturas"
    "proyectos"
    "tecnologias"
    "contacto"
  ;
  /* gap: 1rem; */

  #nombre{
    grid-area: nombre;
    .nombre-autor{
      font-size: clamp(25px, 3vw, 38px);
      margin-bottom: clamp(5px, .5vw, 30px);
    }

    .separador{
      @apply rounded-sm;
      justify-self: center;
      background-color: var(--amarillo-bns);
      width: 750px;
      max-width: 80vw;
      height: clamp(1px, .5vw, 3px);
    }
  }
  #proyecto-estrella{
    grid-area: proyecto-estrella;
  }
  #proyectos{
    grid-area: proyectos;
  }
  #capturas{
    @apply flex p-5 flex-wrap justify-center gap-y-2;
    grid-area: capturas;

    .captura-elemento{
      @apply flex lg:flex-1 flex-col justify-between text-black px-1 gap-2;
      max-width: 450px;

      &:nth-child( 2n ){
        @apply flex-col;
      }
      &:nth-child( 2n + 1 ){
        @apply lg:flex-col-reverse;
      }
    }
  }
  #tecnologias{
    @apply flex justify-center gap-3.5 py-10 flex-wrap;
    grid-area: tecnologias;
    /* background-color: var(--amarillo-bns); */

    .technology{
      --base: 45px;
      width: var(--base);
      flex: 0 0 var(--base);
      transition: transform .3s;
      cursor: pointer;

      &:hover{
        transform: scale(1.2);
      }
    }
  }
  #contacto{
    @apply p-5 flex flex-col justify-center items-center text-center;
    grid-area: contacto;
    background: var(--azul-bns);
    /* color: black; */
  }
}
