@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* font-family: "Oswald"; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blanco-bns: #dedfdd;
  --azul-bns: #1d5d77;
  --amarillo-bns: #C6AE51;
}

*{
  box-sizing: border-box;
  border-style: solid;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
h1,h2,h3,h4,h5,h6{
  font-family: "Bebas Neue", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
a:hover {
  color: #535bf2;
p, span {
  font-family: "PT Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: clamp(.95rem, 1.5vw, 1.15rem);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  background: var(--blanco-bns);
}

#container-bns{
  @apply grid pt-10;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "nombre"
    "proyecto-estrella"
    "capturas"
    "proyectos"
    "tecnologias"
    "contacto"
  ;
  /* gap: 1rem; */

  #nombre{
    grid-area: nombre;
  }
  #proyecto-estrella{
    grid-area: proyecto-estrella;
  }
  #proyectos{
    grid-area: proyectos;
  }
  #capturas{
    @apply flex p-5;
    grid-area: capturas;

    .captura-elemento{
      @apply flex flex-1 flex-col text-black px-1 gap-3;

      &:nth-child( 2n ){
        @apply flex-col;
      }
      &:nth-child( 2n + 1 ){
        @apply flex-col-reverse;
      }
    }
  }
  #tecnologias{
    @apply flex justify-center gap-3.5 py-10;
    grid-area: tecnologias;
    /* background-color: var(--amarillo-bns); */

    .technology{
      width: 45px;
      transition: transform .3s;
      cursor: pointer;

      &:hover{
        transform: scale(1.2);
      }
    }
  }
  #contacto{
    @apply p-5 flex flex-col justify-center items-center text-center;
    grid-area: contacto;
    background: var(--azul-bns);
    /* color: black; */
  }
}
