.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bellota-text-light {
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bellota-text-light-italic {
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.bellota-text-regular {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bellota-text-regular-italic {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.bellota-text-bold {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bellota-text-bold-italic {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: italic;
}