*{
	border-style: solid;
	border-width: 0;
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
}
body,html{
	overflow-x: clip;
}

#div-cards{
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/*LOGO*/
.logo{
	position: absolute;
	top: 1rem;
	left: 1rem;
	max-width: 150px;
}

/* FONDO */
#contenedor-gradiente{
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	width: 100%;
	height: 100vh;

	position: absolute;
	z-index: -1;
}
.container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 1100px;
	min-height: 100vh;
	margin: auto;
}
.fondo-gradiente{
	background: hsl(276.67, 100%, 7.0588%);
	background: linear-gradient(135deg, hsl(276.67, 100%, 7.0588%) 0%, hsl(286.07, 86.154%, 25.49%) 35%, hsl(223.81, 76.829%, 32.157%) 100%);
	width: 25%;
	position: relative;
	min-width: 175px;
}
.vacio{
	flex: 1 1 auto;
}

@media (max-width: 992px){
	:root{
		--altoEspaciado: 80px;
		--separacionTarjeta: 0px !important;
	}
	.fondo-gradiente{
		height: var(--altoEspaciado);
		width: 100%;
		flex-basis: auto;
		min-width: unset;
	}

	.vacio{
		width: 100%;
		flex-basis: 100%;
	}

	#div-cards{}

	#creditcardform{
		flex-basis: 100%;
		width: 100%;
	}

	.container{
		padding-top: var(--altoEspaciado);
		min-height: unset;
		align-items: start;
	}

	#contenedor-gradiente{
		flex-direction: column;
	}
}

@media (min-width: 572px) and (max-width: 992px){
	#div-cards{
		flex-direction: row;

		.credit-card{
			flex-basis: var(--tamano);
		}
	}
}

/* TARJETAS CSS */
:root{
	--separacionTarjeta: 5px;
}
.credit-card .circulo-relleno{
	border-radius: 50%;
	background: white;
	--size: 25px;
	width: var(--size);
	height: var(--size);
}
.credit-card .circulo-hueco{
	border-radius: 50%;
	background: transparent;
	border-color: white;
	border-width: 2px;
	--size: 10px;
	width: var(--size);
	height: var(--size);
}

.credit-card{
	border-radius: .5rem;
	color: white;
	position: relative;
	--tamano: clamp(350px, 48vw, 400px);
	width: var(--tamano);
	height: calc( var(--tamano) / 2);
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 3px #4242428c;
    scale: .95;
}
.credit-card p{
	user-select: none;
}

.card-front p{
	color: white;
	letter-spacing: .15rem;
}

.card-front{
	transform: translate( calc(var(--separacionTarjeta) * -1), 0px);
	background: linear-gradient(135deg, hsl(220.76, 82.883%, 56.471%) 0%, hsl(277.11, 73.077%, 59.216%) 39%, hsl(0, 46.108%, 67.255%) 53%, hsl(207.27, 46.809%, 81.569%) 65%, hsl(0, 46.108%, 67.255%) 74%, hsl(277.26, 63.918%, 38.039%) 100%);
}
.card-back{
	background: #ededed;
	transform: translate( calc(var(--separacionTarjeta) * 1), 0px);
}

.codigo{
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: .15rem;
}

.card-back p{
	color: white;
	font-family: 'Heebo', sans-serif;
}
.cinta-magnetica{
	background: #202020;
	width: 100%;
	height: 2.5rem;
	margin-top: 1.5rem;
}
.cvc-seccion{
	padding: 0 1rem;
}
.cvc-seccion div{
	background-color: #999CA4;
	border-radius: 5px;
	padding: .4rem .8rem;
}

.cvc-seccion p{
	color: white;
	text-align: right;
	font-size: 1.2rem;
	min-height: 28px;
}
.info-extra p{
	text-align: center;
	color: #999CA4;
	font-size: .7rem;
	padding: 1rem;
	line-height: .8rem;
}

/* FORMULARIO */
#creditcardform{
	flex: 1 1 auto;

	label{
		margin-bottom: 0rem;
		font-size: 1rem;
		font-weight: bold;
		display:block;
	}
}
input, select{
	margin-bottom: .5rem;
}
input[type="text"],
select{
	border-width: 1px;
	border-color: #bbbbbb;
	border-radius: 5px;
	padding: .5rem;
	max-width: 370px;
	font-size: 1rem;
}
button[type="submit"]{
	background-color: hsl(286, 86%, 25%);
	color: white;
	text-align: center;
	padding: .5rem 1.5rem;
	border-radius: .25rem;
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	transition: .4s all;
	transform-origin: left;
	display: inline-block;
	width: fit-content;
}
button[type="submit"]:hover{
	background-color: hsl(286, 60%, 50%);
	transform: scale(1.05);
}